
    body {background-color: rgb(33, 32, 39);}
    h1   {color: rgb(255, 255, 255);}
    h1  {border: 2px solid rgb(17, 17, 17);
        border-radius: 4px;
      }
    h1  {text-align: center}
    h1  {font-family: Georgia, 'Times New Roman', Times, serif}
    p    {color: rgb(255, 255, 255);}
    p   {text-align: center}
    img {display: block;
        margin-left: auto;
        margin-right: auto }